.taskCard{
    width: 380px;
    background-color: #2F2F2F;
    border-radius: 8px;
    padding: 8px 0px;
    box-shadow:0px 0px 16px black;
    position: relative;


}
.completedTaskCard{
    width: 380px;
    background-color: #202020;
    border-radius: 8px;
    padding: 8px 0px;
    box-shadow:0px 0px 16px black;
    position: relative;
    border: 1px solid #7AB530 ;

}

.index{
    margin-left: -20px;
    position: absolute;
}

.upper{
    padding: 0 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.readBox{
    position: absolute;
    top: 19%;
    right: -2%;
    background-color: white;
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editIcon{
    cursor: pointer;
}

.readMark{

   color: #7AB530;
}

.taskTittle{
    /* padding-left: 25px; */
}


hr{
    color: #5C5C5C;
}

.buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.completeBtn{
    width: 70%;
    background-color: #C620A7;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 15px;
    font-family: 'Poppins';
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.completeCompleteBtn{
    width: 60%;
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 15px;
    font-family: 'Poppins';
    color:#AFAFAF;
    font-weight: 500;
    font-size: 14px;
    margin-left: -25px;
}

.deleteBtn{
    width: 20%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 15px;
    font-family: 'Poppins';
    color:#AFAFAF;
    font-weight: 500;
    font-size: 14px;
}

.deleteBtn:hover{
    color: #C620A7;
}